// Misc.
$misc: (z-index-base: 10000,
);

// Duration.
$duration: (menu: 0.35s,
  transition: 0.2s,
  banner: 2.5s,
);

// Size.
$size: (border-radius: 4px,
  element-height: 2.75em,
  element-margin: 2em,
  inner: 65em,
);

// Font.
$font: (family: ('Source Sans Pro',
    Helvetica,
    sans-serif,
  ),
  family-fixed: ('Courier New',
    monospace,
  ),
  weight: 300,
  weight-bold: 600,
  letter-spacing: 0.025em,
  letter-spacing-alt: 0.25em,
);

// Palette.
$palette: (fg: #101010,
  fg-bold: #2a2f4a,
  fg-sel: rgba(10, 10, 0, 0.1),
  bg: #eaeaea,
  bg-alt: #e4e4e4,
  fg-light: rgba(7, 7, 8, 0.2),
  border: rgba(16, 16, 0, 0.1),
  border-bg: rgba(5, 5, 0, 0.035),
  highlight: #b24429,
  accent1: #6fc3df,
  accent2: #8d82c4,
  accent3: #ec8d81,
  accent4: #e7b788,
  accent5: #8ea9e8,
  accent6: #87c5a4,
);